<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Members Only App</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-wrapper">
        <a href="/"><h1 class="navbar-title">Members Only</h1></a>
        <% if (user) { %>
          <a href="/members" class="navbar-members">Members</a>
         <% } %>
        <div class="navbar-btn-wrapper">
          <% if (user) { %>
            <a href="/log-out"><button class="navbar-btn btn">Log Out</button></a>
          <% } else { %>
            <a href="/log-in"><button class="navbar-btn btn">Log In</button></a>
            <a href="/sign-up"><button class="navbar-btn btn">Sign Up</button></a>
          <% } %>
        </div>
      </div>
    </nav>
    <main class="main">
      <div class="message-board">
        <% messages.forEach((message) => { %>
          <div class="message-board-message">
            <% if (user) { %>
              <span>User: <%= message.author.username %></span>
            <% } %>
            <span>Title: <%= message.title %></span>
            <span>Message: <%= message.body %></span>
            <span>Date: <%= message.timestamp %></span>
          </div>
        <% }) %>
      </div>
    </main>
  </body>
</html>