<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Members Only App</title>
</head>
<body>
  <nav class="navbar">
    <div class="navbar-wrapper">
      <a href="/"><h1 class="navbar-title">Members Only</h1></a>
      <div class="navbar-btn-wrapper">
        <a href="/log-in"><button class="navbar-btn btn">Log In</button></a>
        <a href="/sign-up"><button class="navbar-btn btn">Sign Up</button></a>
      </div>
    </div>
  </nav>
  <main class="main">
    <div class="main-sign-up">
      <h1>Log In</h1>
        <form action="" method="POST" class="main-form">
          <div class="form-section">
            <label for="username">Username</label>
            <input name="username"type="text" />
          </div>
          <div class="form-section">
            <label for="password">Password</label>
            <input name="password" type="password" />
          </div>
          <button class="form-btn btn">Log In</button>
        </form>
      </div>
    </div>
  </main>
</body>
</html>